<div>

    <div id ="container">
        <div class="card ">
            <div class = "card-details">
                <span class=""tag> Player 1</span>
                <button type="button" class="btn btn-info" (click)="generateNumber1()" [disabled]="disable1" >Roll Dice</button>
                    Pramita's dice value : {{diceNumber1}}
            </div>
        </div>
    </div>
    
    
    <div id ="container">
        <div class="card ">
            <div class = "card-details">
                <span class=""tag> Player 2</span>
    <button type="button" class="btn btn-info" (click)="generateNumber2()" [disabled]="disable2">Roll Dice</button>
    Swastika's dice value : {{diceNumber2}}
    </div>
    </div>
    </div>
    
    
       
    
    <div id="container">
        <div class = "card">
            <span style="margin-left: 15px"> Position of Player1 : {{pos1}}</span>
            <br>
            <span style="margin-left: 15px"> Position of Player2 : {{pos2}}</span>
        </div>
    </div>
    
    
    <div id="container">
        <div class = "card">
           <div>
            <button type="button" class="btn btn-info" (click)="generateRandom()">Generate Random</button>
           </div>
        </div>
    </div>
    

</div>


<!-- <ng-container *ngIf="winnerPlayer1">
Player 1 is the winner
</ng-container> -->
    

<!-- <div class="container">
    <tr *ngFor="let row of board1">
   {{row.curr_pos}} : {{row.take_to}}
   </tr>
   </div> -->

