
.card-details
{
  background-color: #79717A;
  font-family: "Raleway", sans-serif;
  border-radius: 12px;
}

#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 8%;
}

.card {
  
  background-color:#a68f9700;
  border: 1px solid #4B4952;  
  padding: 8px;
  border-radius: 12px;
  text-align: center;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #2e5f9b;
}


.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}


p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}


button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #CEF09D;
  background-color: #1C646D;
  margin: 0 auto;
  display: block;
  cursor: pointer;

 
}

.card__details {
  padding: 16px 8px 8px 8px;
}

  .btn-info
{  
  /* background-color:white; */
    border: 100px;
    padding: 3%;
    font-family: 'Cedarville Cursive', cursive;
    align-items: right;
    font-size: 20px;
    
    
}
