.home
{
  background-image: url("/assets/wavey-fingerprint.svg");
  height: 100vh;
  color : white
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10,auto);
     float: center;
   justify-content: center;
   height: 80%;
  }
  
  .heading{
    font-size: 45px;
    font-family: 'Cedarville Cursive', cursive;
    padding-left: 25px;
    /* margin-left:35% ; */
    text-align: center;
    background-color:#a68f97;
    border-radius: 50%;
   

  }
  .grid-item {

    border: 1px solid rgba(128, 38, 38, 0.8);
    padding: 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
     
  }


td{
  padding: auto;
  width : 200px;
  height : 50px ;
  text-align : center;
 
}


  .snake
  {
    background-color: rgb(243, 124, 124);
    border-radius: 50px 20px;
    color:black
  }

  .ladder
  {
    background-color: rgb(245, 245, 110);
    border-radius: 20px 50px;
    color:black
  }

  .player1
  {
    background-color: rgb(149, 228, 149);
    border-radius: 50% 50%;
    color :black
  }

  .player2
  {
    background-color: rgb(145, 145, 221);
    border-radius: 50% 50%;
    color :black  
  }

  .playerboth
  {
    background-image: linear-gradient(to right , rgb(149, 228, 149), rgb(145, 145, 221));
    color :black
  }
 