<div class="home">
<div class="heading">Snake & Ladder Game</div>

<div class="container">
   
    <div class="row">

        <div class="col-md-4">
            <app-players (goToP1)="val1=$event" (goToP2)="val2=$event"></app-players>
        </div>
      <div class="col-md-8">
        <table id="myTable">
          <div class="container">
              <tr *ngFor="let row of board">
              <td *ngFor="let num of row" >
                  <div [class.snake]="checkSnake(num)" [class.ladder]="checkLadder(num)" [class.player1]="checkPlayer1(num)" [class.player2]="checkPlayer2(num)" [class.playerboth]="checkPlayerBoth(num)">
                    <div class="grid-item" >{{num}}</div>
                  </div>
              </td>
            </tr>
            </div>
          </table>
      </div>
    </div>
  </div>
</div>

  